@{
    
    Layout = "~/views/shared/_Layoutcustomers.cshtml"; 
    }



    <!--- //loading animation -->
    <!--header-->
    
    <!--//header-->
    <!--main-->
    <main class="main">
        <div class="wrap">
            <!--breadcrumbs-->
            <nav class="breadcrumbs">
                <!--crumbs-->
                <ul>
                    <li><a href="#" title="Home">Home</a></li>
                    <li>Contact</li>
                </ul>
                <!--//crumbs-->
            </nav>
            <!--//breadcrumbs-->

            <div class="row">
                <!--three-fourth content-->
                <div class="three-fourth">
                    <h1>Contact us</h1>
                    <!--map-->
                    <div class="map-wrap">
                        <div class="gmap" id="map_canvas">
                            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13510.166008043001!2d74.19131363163882!3d32.162669613448415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f2a1c3803542f%3A0xfcf445c0d4d526c4!2sSatellite%20Town%2C%20Gujranwala%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1663701187145!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                        </div>
                    </div>
                    <!--//map-->
                </div>
                <!--three-fourth content-->
                <!--sidebar-->
                <aside class="one-fourth right-sidebar lower">
                    <!--contact form-->
                <div class="row">
                    <article class="widget">
                        <h4>Send us a message</h4>
                        <form method="post" action="https://themeenergy.com/themes/html/book-your-travel/contact_form_message.php" name="contactform" id="contactform">
                            <div class="col-md-12">
                                <fieldset>
                                    <div id="message"></div>
                                    <div class="row">
                                        <div class="f-item full-width">
                                            <label for="name">Your name</label>
                                            <input type="text" id="name" name="name" value="" />
                                        </div>
                                        <div class="f-item full-width">
                                            <label for="email">Your e-mail</label>
                                            <input type="email" id="email" name="email" value="" />
                                        </div>
                                        <div class="f-item full-width">
                                            <label for="comments">Your message</label>
                                            <textarea id="comments" rows="10" cols="10"></textarea>
                                        </div>
                                        <div class="f-item full-width">
                                            <input type="submit" value="Send" id="submit" name="submit" class="gradient-button" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </article>
                </div>
                <!--//contact form-->
                <!--contact info-->
                <article class="widget">
                    <h4>Or contact us directly</h4>
                    <p class="number">1- 555 - 555 - 555</p>
                    <p class="email"><a href="#">ExplorePakistan123@gmail.com</a></p>
                </article>
                <!--//contact info-->
                </aside>
                <!--//sidebar-->
            </div>
            <!--//main content-->
        </div>
    </main>
    <!--//main-->
